<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
      <!-- <add key="ReportType" value="ExcelReport"/> -->
      <add key="ReportType" value="CrystalReport"/>
      <!-- <add key="ReportType" value="WordReport"/> -->
    </appSettings>

</configuration>