<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="SqlConnStrings" connectionString="Server=.;DataBase=SMDB;Uid=sa;Pwd=195814;Pooling=True;Max pool size=10;Min pool size=5"/>
      <add name="AccessConnStrings" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=数据库名称;Extended Properties='Excel 12.0 Xml;HDR=Yes;IMEX=1;'"/>
    </connectionStrings>
    <appSettings>
      <add key="dbType" value="SQLServer"/>
      <!-- <add key="dbType" value="Access"/> -->
      <add key="dalAssemblyName" value="DAL"/>
    </appSettings>
</configuration>